---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Iropke Batang', 'IropkeBatang', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
$sans-serif-font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
$monospace-font-family: "D2Coding", "NanumGothicCoding", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$base-font-size:   18px;
$small-font-size:  round($base-font-size * 0.875);
$base-line-height: 1.8;

$spacing-unit:     $base-font-size * 2;

$text-color:       #000;
$background-color: #ECF0F1;
$brand-color:      #2ECC71;
$brand-color2:     #34495E;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          500px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "print",
        "gcs",
        "barefoot"
;
