{% if page.comment_issue_id %}
	<div class="comments-wrapper">
		<h2><a href="https://github.com/mytory/mytory.github.io/issues/{{ page.comment_issue_id }}">👉 댓글 쓰러 가기 ⌨️</a></h2>
		<p>
			이 글을 읽고 드는 생각을 댓글로 써 주세요 🙂
			<br>다른 의견이 있거나 제가 빼먹은 게 있어도 알려 주시고요.
			<br>토론은 생각을 발전시키니까요! 💡
		</p>
		<p>(이 글의 댓글을 위해 열어 둔 GitHub 이슈 페이지에 글을 남겨 주시면 됩니다. 그러면 여기에 표시됩니다.)</p>
        <div id="comments"></div>
	</div>
{% else %}
	<p style="color: #444;">- 이 포스트엔 댓글 기능이 없습니다. 댓글 대신 <a href="mailto:mail@mytory.net"><code>mail@mytory.net</code></a>으로 메일 보내 주세요.</p>	
{% endif %}