<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="google-site-verification" content="2goMChSFX5a0ko4Uj5CRLxm0y1C4IWjNF7MGwnLGx3k">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | {{site.title}} {% else %}{{ site.title }}{% endif %}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description | escape }}">
    {% elsif page.layout == 'default' %}
        <meta name="description" content="CSS, js, HTML, PHP, JAVA... Full Stack Web Development">
    {% else %}
        <meta name="description" content="{{ page.content | escape | strip_html | truncate: 200 | strip_newlines }}">
    {% endif %}

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" hreflang="ko" type="application/rss+xml" title="웹으로 말하기" href="http://feeds.feedburner.com/mytory_tc">

	<!-- Applie Touch Icon -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/mytory-favicon-114.png">

    <!-- Standard Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/assets/mytory-favicon.ico">
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/mytory-favicon-114.png">
	<link rel="icon" type="image/svg+xml" href="{{ site.url }}/assets/mytory-favicon.svg">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ "/css/ie.css" | prepend: site.baseurl }}">
        <script src="{{ site.baseurl }}/js-lib/html5shiv.min.js"></script>
    <![endif]--> 

    <script src="/js/webfont.js"></script>

{% if page.layout == 'post' %}
    <meta name="twitter:site" content="@mytory">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:title" content="{{ page.title | escape }}">
    {% if page.description %}
        <meta property="og:description" content="{{ page.description | escape }}">
    {% else %}
        <meta property="og:description" content="{{ page.content | escape | strip_html | truncate: 200 | strip_newlines }}">
    {% endif %}
    {% if page.image %}
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{ page.image | prepend: site.url }}">
    {% else %}
        <meta name="twitter:card" content="summary">
        <meta property="og:image" content="{{ '/assets/mytory-favicon-813.png' | prepend: site.url }}">
    {% endif %}
{% endif %}

</head>
