<header class="site-header">

  <div class="wrapper">

    <a class="logo" href="/" title="홈으로">
      <span class="logo__img">{% include logo.svg.html %}</span>
      <span class="logo__title">{% include site-name.svg.html %}</span>
    </a>

    <nav class="site-nav  site-nav--palm">
        <div class="wrapper"><!--
        --><a class="page-link" href="/about">소개</a><!--
        --><a class="page-link" href="/subscribe">구독</a><!--
        --><a class="page-link" href="/paypal-donation">PayPal 후원</a><!--
     --></div>
      </nav>

    <div class="search">
      <gcse:searchbox></gcse:searchbox>
    </div>
  </div>
  <nav class="site-nav  site-nav--laptop">
    <div class="wrapper"><!--
    --><a class="page-link" href="/about">소개</a><!--
    --><a class="page-link" href="/subscribe">구독</a><!--
    --><a class="page-link" href="/paypal-donation">PayPal 후원</a><!--
 --></div>
  </nav>
</header>
<div class="wrapper">
  <gcse:searchresults></gcse:searchresults>
</div>
