/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: $background-color;
    padding-top: $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: relative;

    @include media-query($on-palm){
        padding-top: $spacing-unit / 2;
    }
}

.logo, .logo__img, .logo__title, svg {
    display: block;
}
.logo {
    position: relative;
    float: left;
    @include media-query($on-palm) {
        float: none;
    }
}
.logo__title {
    position: absolute;
    top: 115px;
    left: 94px;
}
.logo:hover path{
    fill: $brand-color2;
    transition: fill 0.2s
}
.site-nav {
    background-color: #2ECC71;
    .page-link {
        color: white;
        line-height: $base-line-height;
        padding: 0.5em 1em;
        display: inline-block;
        &:hover {
            background-color: $brand-color2;
        }
    }

    @include media-query($on-palm) {
        float: none;
        clear: both;
        text-align: right;
    }
}

.site-nav--palm {
    display: none;
}
@include media-query($on-palm){
    .site-nav--laptop {
        display: none;
    }
    .site-nav--palm {
        display: block;
        margin-left: -$spacing-unit / 2;
        margin-right: -$spacing-unit / 2;
        margin-bottom: $spacing-unit / 4;
    }
}

.search {
    float: right;
    width: 300px;
    @include media-query($on-palm) {
        float: none;
        width: auto;
    }
}

/**
 * Site footer
 */
.site-footer {
    font-size: $small-font-size;
    text-align: center;
    padding: $spacing-unit 0;
    background-color: $brand-color2;
    *, a:link, a:visited, a:hover {
        color: white;
        fill: white;
    }
    a:hover {
        text-decoration: underline;
    }
}

.footer-addr {
    margin-right: 0.5em;
}

.footer-heading {
    font-size: $base-font-size;
    margin-bottom: 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

a.post-link {
    display: block;
    font-size: 24px;
    color: $brand-color2;
    &:visited {
        color: lighten($brand-color2, 20%);
    }
    &:hover {
        color: $text-color
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    table {
        border-collapse: collapse;
        margin-bottom: 1em;
    }

    td, th {
        border: 1px solid #ddd;
        padding: .5em;
    }
}

.google-information {
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.video-container {
    max-width: 560px;
    margin: 0 auto $spacing-unit / 2;
}

.video-container__inner {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container {
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.footnotes {
    background: #eee;
    padding: 1em;
    border-radius: 5px;
    border-top: 5px dashed #ccc;
    li:last-child p {
        margin-bottom: 0;
    }
}

.wp-caption {
  border: 1px solid #ddd;
}

.wp-caption-text {
  font-size: 0.9em;
}

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
